/* card */
.card {
    display: flex;
    padding: 15px;
    background-color: #fff;
    border-radius: 14px;
    gap: 16px;
    /* width: 100%; */
}

.card-img {
    width: 178px;
    height: 140px;
    border-radius: 8px;
}

.card-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* card-header */
.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.car-title {
    display: flex;
    gap: 8px;
    color: #272A37;
    font-size: 14px;
}

.car-country {
    display: flex;
    align-items: center;
    gap: 8px;
}

.car-country p {
    font-size: 12px;
    color: #6F7383
}

/* card-body */
.card-body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.car-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.car-details div {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #1B1D25;
    margin-right: 32px;
    margin-bottom: 15px;
    font-size: 12px;
    font-weight: 500;
}

.price {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.price p {
    /* font-size: 20px; */
    color: #272A37;
}

.gray-b {
    background-color: #E2E5EB;
    border-radius: 12px;
    padding: 6px 8px;
    font-size: 12px;
    font-weight: 800;
    border: none;
    cursor: pointer;
}

.gray-b-usd {
    padding: 6px 9.2px;
}

/* card-footer */
.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.views {
    display: flex;
    align-items: center;
    gap: 4px;
    color: #6F7383;
    font-size: 12px;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.icons img {
    cursor: pointer;
    transition: 0.2s;
}

.icons img:hover {
    transform: scale(1.2);
}


@media (max-width: 800px) {
    .card {
        flex-direction: column;
        gap: 12px;
    }

    .card div {
        position: relative;
    }

    .card-img {
        width: 100%;
        height: auto;
    }

    .card-header-mb {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .car-title {
        font-size: 16px;
    }

    .price p {
        font-weight: 600;
    }

    .card-body-mb {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 6px;
        font-size: 12px;
        color: #454857;
        margin-top: 4px;
        /* color:#6F7383 */
    }

    .card hr {
        margin: 4px 0px 0px 0px;
    }

    .views {
        gap: 8px;
    }

    .fav {
        position: absolute;
        top: 18px;
        right: 18px;
        transform: scale(1.6);
        color: white;
        cursor: pointer;
    }

    .car-country p {
        color:#454857;
    }
}